# Virtual environment
.venv/

# Environment variables
.env

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Generated data
data/raw/*
data/processed/*

# Keep directories
!data/raw/.gitkeep
!data/processed/.gitkeep

# Reference materials
Spotify Data Analysis - pdf.pdf